mongodb:
    image: erangaeb/senzmongodb:0.1
    container_name: mongodb
    volumes:
        ['$MONGO_DATA_DIR:/data/db']
    ports:
        - 27017:27017


zwitch:
    image: erangaeb/zwitch:2.4
    container_name: zwitch
    ports:
        - 7171:7171
    environment:
        - MONGO_HOST=${MONGO_HOST}
        - SWITCH_MODE=${SWITCH_MODE}
        - CHAINZ_NAME=${CHAINZ_NAME}
        - PROMIZE_API=${PROMIZE_API}
        - UZER_API=${UZER_API}
    volumes:
        ['$SWITCH_LOGS_DIR:/app/logs', '$SWITCH_KEYS_DIR:/app/.keys', '$ZWITCH_CERTS_DIR:/app/.certs']
    links:
        - mongodb


cassandra:
    image: erangaeb/cassandra:0.6
    container_name: cassandra
    environment:
        - CASSANDRA_BROADCAST_ADDRESS=${CASSANDRA_BROADCAST_ADDRESS}
        - CASSANDRA_SEEDS=${CASSANDRA_SEEDS}
    volumes:
        ['$CASSANDRA_DATA_DIR:/opt/cassandra/data']
    ports:
        - 7000:7000
        - 7001:7001
        - 7199:7199
        - 9042:9042
        - 9160:9160


elassandra:
    image: erangaeb/elassandra:2.0
    container_name: elassandra
    environment:
        - CASSANDRA_BROADCAST_ADDRESS=${CASSANDRA_BROADCAST_ADDRESS}
        - CASSANDRA_SEEDS=${CASSANDRA_SEEDS}
    volumes:
        ['$CASSANDRA_DATA_DIR:/opt/cassandra/data']
    ports:
        - 7000:7000
        - 7001:7001
        - 7199:7199
        - 9042:9042
        - 9160:9160
        - 9200:9200
        - 9300:9300


chainz:
    image: erangaeb/chainz:1.1
    container_name: chainz
    environment:
        - SENZIE_NAME=${CHAINZ_NAME}
        - CASSANDRA_HOST=${CASSANDRA_HOST}
        - CASSANDRA_PORT=${CASSANDRA_PORT}
        - CASSANDRA_KEYSPACE=${CASSANDRA_KEYSPACE}
        - SWITCH_HOST=${SWITCH_HOST}
        - SWITCH_PORT=${SWITCH_PORT}
        - TRANS_API=${TRANS_API}
        - TRANS_ACTION=${TRANS_ACTION}
        - TRANS_ACCOUNT=${TRANS_ACCOUNT}
    volumes:
        ['$CHAINZ_LOGS_DIR:/app/logs', '$CHAINZ_KEYS_DIR:/app/.keys']
    ports:
        - 5005:5005
        - 7070:7070


cminer:
    image: erangaeb/cminer:0.9
    container_name: cminer
    environment:
        - SENZIE_NAME=${CMINER_NAME}
        - CASSANDRA_HOST=${CASSANDRA_HOST}
        - CASSANDRA_PORT=${CASSANDRA_PORT}
        - CASSANDRA_KEYSPACE=${CASSANDRA_KEYSPACE}
        - SWITCH_HOST=${SWITCH_HOST}
        - SWITCH_PORT=${SWITCH_PORT}
    volumes:
        ['$CMINER_LOGS_DIR:/app/logs', '$CMINER_KEYS_DIR:/app/.keys']


webz:
    image: maurakirinathan/webz:3.7
    container_name: webz
    environment:
        - CASSANDRA_HOST=${CASSANDRA_HOST}
        - CASSANDRA_PORT=${CASSANDRA_PORT}
        - CASSANDRA_KEYSPACE=${CASSANDRA_KEYSPACE}
    ports:
        - 81:8082


nginx:
    image: erangaeb/senznginx:1.0
    container_name: nginx
    ports:
        - 80:80
        - 8443:8443
    volumes:
        ['$NGINX_CERTS_DIR:/etc/nginx/certs']
    links:
        - chainz
